@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
/*	background: url("../images/yas_backgroundusa.jpg") no-repeat; 
*/	font-family: "Open Sans";
}

header {
    background: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background: #FFC675;
    border: 1px black solid;
    padding: 20px;
    float: left;
}

article {
    background: #E89C6C;
    border: 1px black solid;
    padding: 20px;
    width: 40%;
    float: left;
}
footer {
    background: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
div, section {
    background: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
    display: inline-block;
}
#tshirt {
	float: left;
	display: inline-block;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px solid black;
    padding: 20px;
    width: 100%;
}

.left { 
    background-color: violet;
    border: 1px solid black;
    padding: 20px;
    float: left;
    width: 90%;
 }

.right {
    background-color: pink;
    border: 1px solid black;
    padding: 20px;
    float: right;
    width: 55%;
}

.small {
	width: 200px;
}
.floatright {
	float: right;
}
.tshirtimages{
    float: left;
    width: 20%;
}
.img {
	max-height: 100%;
	max-width: 100%;

}
.clearfix:after { 
    visibility: hidden;
    display: block;
    font-style: 0;
    content: " ";
    clear: both;
    height: 0;
}
aside.img {
	width: 40%;
}