@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body {
/*	background: url("../images/yas_backgroundusa.jpg") no-repeat; 
*/	font-family: "Open Sans";
    padding: 0;
    margin: 0;
    height: 100%;
}

header {
    background: no-repeat center center url("../images/yas_backgroundusa.jpg") ;
    border: none;
    padding: none;
    width: 100%;
    background-size: cover;
    height: 100vh;


}
header p {
    color: white;
}
h1 {
    font-weight: 800; 
    font-size: 8em; 
    line-height: .5em
    text: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1.9em #3a4097, 0 0 0.5em #3a4097;

}
nav {
    color: white;
    font-weight: 500;
    border: none;
    padding: 20px;
}
header nav a {
    text-decoration: none;
    font-size: 1.7em;
    color: white;
    padding-right: 1em;


}
nav a:hover {
    color: #e3254b;
    text-shadow: 1px 1px 2px black, 0 0 1.9em #3a4097, 0 0 0.5em #3a4097;
}
aside {
/*    background: no-repeat center center url("../images/co_pants_jump.jpg") ;
*/    width: auto;
    height: auto;
    border: 1px black solid;
    padding: 20px;
    float: left;
}

#madeline {
    background: no-repeat center right url("../images/co_pants_jump.jpg") ;
    padding: 60px;
}

#madeline .featuretext{
    max-width: 1000px;
    padding: 260px 0px;
    width: 70%;
    display: inline-block;
}

#madeline button {
    width: 20%;
    display: inline-block;
}
article {
    border: none;
    padding: 20px;
    width: 40%;
    float: left;
}

div, section {
    border: none;
    padding: 0;
    display: ;
}
section {
    border: none;
    margin: auto 0;
    text-align: center;
}
section p {
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 1em;
}
section a {
    color: white;
    text-decoration: none;
    background-color: #3a4097;
    display: inline-block;
    border-radius: 10px;

}
section a:hover {
    color: black;
    background-color: white;
    text-shadow: 1px 1px 2px black, 0 0 1.9em #3a4097, 0 0 0.5em #3a4097;

}
section .tshirtimages {
    display: inline;
}

.big {
    background-color: #3a4097; 
    border: none;
    color: white;
    padding: 0.6em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5em;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    z-index: 10;

}
.big:hover {
    background-color: white;
    color: #3a4097;
    box-shadow: 1px 1px 2px black, 0 0 1.9em #3a4097, 0 0 0.5em #3a4097;


}


footer {
    background: #3a4097;
    border: none;
    padding: 20px;
    clear: both;
}
footer a {
    text-decoration: none;
    color: white;
    padding-right: 2em;
}
footer a:hover {
    color: #e3254b;
    text-shadow: 1px 1px 2px black, 0 0 1.9em #3a4097, 
}
footer p {
    color: white;
}
footer p a {
    padding-right: 0;
}
#wrapper {
    padding: none;
    margin: none;
}
#tshirt {
	display: block;
}

#two_column {
    border: none;
    padding: 20px;
    width: 100%;
    margin: auto 0;

}

#scrollmore a{
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-decoration: none;
    background-color: #f23655;
    border-radius: .3em 0;
    padding: .3em;



}
#scrollmore a:hover {
    background-color: #3a4097;
    color: white;
    display: inline-block;
    text-decoration: none;
    box-shadow: 1px 1px 2px black, 0 0 1.9em #3a4097, 0 0 0.5em #3a4097;
    border-radius: .3em 0;
    padding: .3em;



}

.feature {
    margin: 10em 0;
    font-weight: 600;

}
.featuretext {
    font-size: 2.1em;
    font-weight: 200;
}
.left { 
    color: black;
    border: none;
    padding: 20px;
    float: left;
    width: 90%;
 }

.right {
    border: none;
    padding: 20px;
    float: right;
    width: 51%;
}

.small {
	width: 15em;
}
.tshirtimages .small, .tshirtimages .tshirttext{
    transition: .25s;
}
.tshirtimages:hover .small {
    opacity: 1;
    cursor: pointer;
    filter: brightness(0.5);
}
.tshirtimages:hover .tshirttext {
        opacity: 1;
       
/*        box-shadow: 1px 1px 2px black, 0 0 1.9em #3a4097, 0 0 0.5em #3a4097;
*/   
        visibility: visible;

        position: absolute;
        top: 40%;
    
}

/*.tshirttext {
    color: black;
    opacity: .3;
    background-image: #3a4097;
    text-decoration: none;
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0 auto;
    font-size: 1em;
    font-weight: 500;
    width: 15em;
    height: 5em;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    opacity: 0
}*/
.tshirttext {
    text-align: center;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    color:white;
    top: 40%;
       font-weight: 900;
        cursor: pointer;
}
.tshirttext p {
    font-weight: 800;
}

.floatright {
	float: right;
}
.tshirtimages{
    padding: 1%;
    float: left;
    width: 25%;
    display: inline;
    background-color: none;
    position: relative;
}

.img {
    background-image: url("..images/co_pants_jump.jpg");
	height: 70em;
	width: 4em;
    z-index: -1;
    margin-left: -20em;
    margin-top: -15em;



}
.subfeature {
    background-color: rgba(188,77,19,.6);
}
.freeshipping {
    text-decoration: none;
}

#featureitem {
    font-weight: 700;
    font-size: 2em;
    color: #3a4097;
}
.clearfix:after { 
    visibility: hidden;
    display: block;
    font-style: 0;
    content: " ";
    clear: both;
    height: 0;
}
aside.img {
	width: 40%;

}
#jimweist {
    background-color: pink;
    left: 0;
    right: 0;
    margin: auto 0;
}
#jimweist img {
    padding: 4em;
    width: 20em;

}

#jimweist div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
} 
#jimwweist p {
    float: right;
    padding: 4em;
    clear: both;
}
#about {
    padding: 1em;
    text-align: center;
}
.w3-center {
    font-family: "Open Sans";
}

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
Try it Yourself »
